version: "3.9"
services:

  mariadb:
    container_name: mariadb
    build: 
      context: srcs/requirements/mariadb
      args:
        DEBUG: "true"
    ports:
      - "3306:3306"
    volumes:
      - datadir:/var/lib/mysql
    env_file: .env
    networks:
      inception:
        aliases:
          - mialbert.42.fr

  nginx:
    container_name: nginx
    build: 
      context: requirements/nginx
      args:
        DEBUG: "true"
    ports:
      - "80:80/tcp"
      - "443:443/tcp"
    depends_on:
      - mariadb
    volumes:
      - wordpress:/var/www/html/wordpress
    env_file: .env
    networks: 
      inception:
        aliases:
          - mialbert.42.fr

  wordpress:
    container_name: wordpress
    build: 
      context: srcs/requirements/wordpress
      args:
        DEBUG: "true"
    ports:
      - "3360:3306"
      - "9000:9000"
    depends_on:
      - mariadb
      - nginx
    volumes:
      - wordpress:/var/www/html/wordpress
    env_file: .env
    networks: 
      inception:
        aliases:
          - mialbert.42.fr

networks:
  inception:

volumes: 
  datadir:
  wordpress: