version: "3.9"
services:

  mariadb:
    container_name: mariadb
    build: 
      context: srcs/requirements/mariadb
      args:
        DEBUG: "true"
    ports:
      - "3306:3306"
    volumes:
      - mariadb:/var/lib/mysql
    env_file: .env
    networks:
      inception:
        aliases:
          - mialbert.42.fr

  nginx:
    container_name: nginx
    build: 
      context: srcs/requirements/nginx
      args:
        DEBUG: "true"
    ports:
      - "80:80/tcp"
      # - "443:443/tcp"
    depends_on:
      - mariadb
      - wordpress
    volumes:
      - wordpress:/var/www/html/wordpress
    env_file: .env
    networks: 
      inception:
        aliases:
          - mialbert.42.fr

  wordpress:
    #command: tail -f /dev/null #illegal haaaaacks
    container_name: wordpress
    build: 
      context: srcs/requirements/wordpress
      args:
        DEBUG: "true"
    ports:
      - "9000:9000"
    depends_on:
      - mariadb
    volumes:
      - wordpress:/var/www/html/wordpress
    env_file: .env
    networks: 
      inception:
        aliases:
          - mialbert.42.fr

networks:
  inception:

volumes:
  mariadb:
    name: mariadb
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /Users/mialbert/Documents/my_projects/inception/srcs/volumes/mariadb
  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /Users/mialbert/Documents/my_projects/inception/srcs/volumes/wordpress
